# Node
node_modules/
**/node_modules/

# Build outputs
build/
dist/
**/build/
**/dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*
**/.env
**/.env.*

# Coverage
coverage/
*.lcov

# Editor & OS files
.vscode/
.DS_Store
Thumbs.db

# Vite cache
.vite/
**/.vite/

# Misc
.eslintcache
*.pid
*.seed
*.pid.lock
